@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* --header-- */

.nav-link:hover {
    color: rgb(51, 147, 216);
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .icons {
        display: none;
    }
}

.image-container {
    position: relative;
}

.content-box {
    position: absolute;
    top: 27%;
    left: 48%;
    background-color: #FFF3CD;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(21, 21, 21, 0.2);
    padding: 40px;
}

.image-container img {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 600px) and (min-width: 200px) {

    .image-container img {
        background-size: cover;
        width: 100%;
        height: 70vh;
        opacity: 0.5;
    }

    .content-box {
        position: absolute;
        top: 44%;
        left: 0%;
        margin: auto;

    }

}

.content-box h2 {
    color: #9C6D0D;
}

.headerhbutton {
    background-color: rgba(184, 142, 47, 1);
    border: none;
    padding: 15px 30px;
    color: white;
}

button:hover {
    background-color: #C68505;
}

/* --Range-- */

.range img {
    border-radius: 10px;
}

.range img:hover {
    transition: ease-in-out .3s;
    transform: scale(1.1);
    box-shadow: 0px 2px 2px 5px rgb(217, 215, 215);
}

/* --Our Products-- */
.round {
    /* display: inline-block; */
    padding: 20px 12px;
    border-radius: 50% !important;
    opacity: 0.7;
}

.badgeoverlay {
    position: absolute;
    top: 8%;
    left: 85%;
}

.button1 button {
    border: solid 2px #9C6D0D;
    color: #9C6D0D;
    background-color: #FFF;
    padding: 10px 50px;
    align-items: center;
}

.Ourproducts .card:hover {
    filter: brightness(50%);
}

.test__cart {
    display: none;
}

.test:hover>.test__cart {
    display: block;
}

/* Explore Sectionn */
.mainexploer .container {
    background: rgba(252, 248, 243, 1);
}

.button2 button {
    background-color: #9C6D0D;
    color: white;
    padding: 10px 30px;
}

.divider {
    border-top: 1px solid #b2b1b1;
    margin: 20px 0;
}

/* --footer-- */

li a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-weight: bold;
}

.thirdcol input {
    border:none;
    border-bottom: 1px solid black;
} 

li a:hover{
    color: #3a3939;
}